.canvas{
  border: 1px solid #d3d3d3;
}

.main_container{
  display:flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 8%;
  margin-bottom: 10%;
}

.left_container{
  display:flex;
  flex: 50%;
  flex-direction: column;
}

.right_container{
  display:flex;
  flex: 50%;
  align-self: center;
}

.up_arrow{
  /*positioning*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*interactivity*/
  cursor: pointer;
  border-style: solid;
}

.up_arrow:activate{
  border-color: red;
}

.down_arrow{
  /*positioning*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*interactivity*/
  cursor: pointer;
  border-style: solid;
}

.left_arrow{
  cursor: pointer;
  border-style: solid;
}

.right_arrow{
  cursor: pointer;
  border-style: solid;
}

.up_arrow_div{
  /*positioning*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*interactivity*/
  cursor: pointer;
  border-style: solid;
}

.up_arrow_div:activate{
  border-color: red;
}

.down_arrow_div{
  /*positioning*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*interactivity*/
  cursor: pointer;
  border-style: solid;
}

.left_arrow_div{
  cursor: pointer;
  border-style: solid;
}

.right_arrow_div{
  cursor: pointer;
  border-style: solid;
}
