<!DOCTYPE html>
<html>

<head>
	<title>Car Controller</title>

	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles.css') }}">

	<script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>
</head>

<body>
	
	<div>

		<div class="main-container">

			<div class="left-container">

				<div onmousedown="activate_up()" onmouseup="deactivate_up()">
					<input type="image" src="/static/up arrow.png" class="up-arrow">
				</div>

				<div onmousedown="activate_down()" onmouseup="deactivate_down()">
					<input type="image" src="/static/down arrow.png" class="down-arrow">
				</div>

			</div>

			<div class="right-container">

				<div onmousedown="activate_left()" onmouseup="deactivate_left()">
					<input type="image" src="/static/left arrow.png" class="left-arrow">
				</div>

				<div onmousedown="activate_right()" onmouseup="deactivate_right()">
					<input type="image" src="/static/right arrow.png" class="right-arrow">
				</div>

			</div>

		</div>
		
	</div>

</body>
