<!DOCTYPE html>
<html>
<head>
	<title>Car Controller</title>
	<script src="text/javascript"></script>
</head>

<style>
	.main-container{
		display:flex;
		margin-left: 15%;
		margin-right: 10%;
		margin-top: 8%;
		margin-bottom: 10%;
	}

	.left-container{
		display:flex;
		flex: 50%;
		flex-direction: column;
	}

	.right-container{
		display:flex;
		flex: 50%;
		align-self: center;
	}


</style>

<body>
	<div>
		<div class="main-container">

			<div class="left-container">
				<div class="up-arrow">
					<img src="/static/up arrow.png" onclick="">
				</div>

				<div class="down-arrow">
					<img src="/static/down arrow.png">
				</div>
			</div>

			<div class="right-container">
				<div class="left-arrow">
					<img src="/static/left arrow.png">
				</div>

				<div class="right-arrow">
					<img src="/static/right arrow.png">
				</div>
			</div>

		</div>
	</div>

</body>
